select {
	-webkit-appearance: menulist-button;
	background-color: #fff;
	border: none;
	font-size: 1.2em;
}

.muted {
	opacity: 0.5;
}

.large-font {
	font-size: 1.5em;
}

.clickable {
	cursor: pointer;
}